@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.single{
    display: flex;

    @include xxl{
        flex-direction: column;
        gap: 50px;
    }

    @include md{
        .view{
            flex-direction: column;
        }
        flex-direction: column;
        gap: 50px;
    }
    @include sm{
        .view{
            flex-direction: column;
        }
        flex-direction: column;
        gap: 50px;
    }

    .view{
        display: flex;
        .info{
            margin-left: 20px;
            .topInfo{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 10px;

                .profileImg{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    color: #fff;
                    border: 4px solid $celeste;
                }

                button{
                    margin-right: 10%;
                }
            }

            .details{
                margin: 10px;
                font-size: 16px;
                margin-top: 30px;

                .item{
                    margin: 20px 0px;

                    .itemTitle{
                        font-weight: 600;
                        margin-right: 10px;
                        text-transform: capitalize;
                    }
                }

            }
        }

        .action_buttons{
            margin-top: 50px;
            margin-left: 0; /* Remove the left margin */
            .profile_button{
                height: 90px;
                overflow-wrap: normal;
                width: 110px;
            }


            @include md{
                flex-direction: column;
                gap: 20px;
                .profile_button{
                    width: 100%;
                }
            }
        }

        .progreso{
            width: 100%;
        }
    }

}