@import "./variables.scss";
@import "./responsive.scss";


h1{
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: 'Inter', sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container{
  display: flex;

  @include xxl{

  }
  @include xl{
    
  }
  @include lg{
    
  }
  @include md{
    
  }
  @include sm{
    
  }
}


.menuContainer{
  width: 18%;
  background-color: $soft-bg;
  color: $dark-color;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include lg{
    width: max-content;
  }
}

.contentContainer{
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

button{
  width: auto;
  padding: 10px;
  margin-left: auto;
  padding: 5px 15px;
  background-color: white;
  color: $primary-orange;
  font-weight: bold;
  border: solid 1px $primary-orange;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.danger_button{

  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: solid 1px red;

  &:hover{
      background-color: red;
      color: white;
      border: solid 1px red;
  
  }  
}

button:hover {
  background-color: $primary-orange;
  color: white;
  font-weight: bold;
  border: solid 1px $primary-orange;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
