// BG
$main-bg: #f2f1f1;
$soft-bg: #ffffff;
$dark-bg: #222b3c;
$selected-bg: #ffd2b0;
// Text
$main-color: #252525;
$second-color: #414141;
$soft-color: #d1d1d1;
$dark-color: #000000;
// Estilos globales
$primary-color: rgb(251, 96, 0);
$light-color: #f8f9fa;