.dataTable{
    .dataGrid{
        background-color: white;
        padding: 7px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        .avatares{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .action{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }
    }
}